*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 70px 80px 80px 80px;
  background: url(ressources/images/Background.png);
  background-color: rgb(177, 243, 243);
  height: 500px;
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 80%;
  font-family: Futura;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}

nav {
  margin: 0 -20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.6);
}

.logo {
 padding-top: 150px;
}

.logo img {
  position:absolute;
}

#one {
  top: 80px;
  left: 50px;
  height: 75px;
  animation: rotate linear 15s infinite;
}
@keyframes rotate{
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg); }
}

#two{
  top: 100px;
  left: 75px;
  height: 25px;
}

#three{
  top: 82px;
  left: 50px;
  height: 36px;
}

#four{
  top: 125px;
  left: 158px;
  height: 14px;
}

@keyframes moveOut{
  0%{
    margin-top: 0px;
  }
  100%{
    margin-top: -60px;
  }
}

@keyframes moveBack{
  0%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0px;
  }
}


.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  cursor: default;
}

.nav-links li:hover {
  font-weight: bold;
}

.burger {
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger:hover {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}


main {
  margin-top: 60px;
  bottom : 30px;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 800px;
  max-height: 65vh;
  overflow: scroll;
}

main img {
  width: 100%;
}

main p{
  padding:10px 0px 15px 0px;
}
footer {
  position: absolute;
  bottom: 0;
  height: 55px;
  display: flex;
  list-style-type: none;
}

footer li {
  margin: 1em;
}

.about {
  display: block;
}

.contact {
  display: none;
}

.impressum {
display: none;
}

.projects {
  display: none;
}

.datenschutz {
  display: none;
}


@media screen and (max-width: 1024px){
  ul {
    width: 50%
  }
}

@media screen and (max-height: 600px){
  main{
    max-height: 50vh;
    
  }
}


@media screen and (max-width: 768px){
  body {
    overflow: hidden;
    padding: 0px 40px 0 40px;
    margin-top: 0px;
  }

  header {
    padding-top: 30px;
  }

  #one {
    top: 40px;
    left: 20px;
    height: 75px
  }
  
  #two{
    top: 60px;
    left: 45px;
    height: 25px;
  }
  
  #three{
    top: 42px;
    left: 20px;
    height: 36px;
  }
  
  #four{
    top: 85px;
    left: 128px;
    height: 14px;
  }
  main {
    margin-top: 40px;
    max-height: 75vh;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height:60px;
    width: 70%;
    top: 40px;
    display: flex;
    align-items: center;
    transform: translateX(150%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger{
    display: block;
    position: absolute;
    right:20px;
  }
}

@media screen and (max-width: 400px){
  body {
    overflow: hidden;
    font-size: 14px;
  }

  main {
    display: flex;
    margin-top: 10px;
    max-height: 70vh;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(150%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
}

.motion .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.motion .line2{
  opacity: 0;
}
.motion .line3{
  transform: rotate(45deg) translate(-5px, -5px);
}

