*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 80px;
  background: url(ressources/images/Background.png);
  background-color: rgb(177, 243, 243);
  height: 500px;
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 80%;
  font-family: Futura;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}

nav {
  margin: 0 -20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
}

.logo {
  letter-spacing: 5px;
}

@keyframes moveOut{
  0%{
    margin-top: 0px;
  }
  100%{
    margin-top: -60px;
  }
}

@keyframes moveBack{
  0%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0px;
  }
}


.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  cursor: default;
}

.nav-links li:hover {
  font-weight: bold;
}

.burger {
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger:hover {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

main {
  margin-top: 60px;

  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 800px;
  max-height: 65vh;
  overflow: scroll;
}

main img {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0px;
  height: 10vh;
  display: flex;
  list-style-type: none;
}

footer li {
  margin: 1em;
}

.about {
  display: block;
}

.contact {
  display: none;
}

.impressum {
display: none;
}

.projects {
  display: none;
}

.datenschutz {
  display: none;
}


@media screen and (max-width: 1024px){
  ul {
    width: 50%
  }
}

@media screen and (max-height: 600px){
  main{
    max-height: 50vh;
    
  }
}


@media screen and (max-width: 768px){
  body {
    overflow: hidden;
    padding: 0 40px;
  }

  header {
    padding-top: 40px;
  }
  main {
    margin-top: 40px;
    max-height: 60vh;
  
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height:60px;
    width: 70%;
    top: 40px;
    display: flex;
    align-items: center;
    transform: translateX(150%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

@media screen and (max-width: 400px){
  body {
    overflow: hidden;
    padding: 0 10px;
    font-size: 14px;
  }

  header {
    padding-top: 30px;
  }
  main {
    margin-top: 10px;
    max-height: 70vh;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(150%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
}

.motion .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.motion .line2{
  opacity: 0;
}
.motion .line3{
  transform: rotate(45deg) translate(-5px, -5px);
}

