*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 70px 80px 80px 80px;
  background: url(ressources/images/Background.png);
  background-color: rgb(177, 243, 243);
  background-position: center 135px ;
  background-repeat: repeat-y;
  background-size: 80%;
  font-family: Futura;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}

nav {
  margin: 0 -20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.6);
}

.bold {
  font-weight: bold;
}

.logo {
 padding-top: 150px;
}

.logo img {
  position:absolute;
  margin-top:70px
}

#one {
  top: 10px;
  left: 50px;
  height: 75px;
  animation: rotate linear 15s infinite;
}


#two{
  top: 30px;
  left: 75px;
  height: 25px;
}

#three{
  top: 12px;
  left: 50px;
  height: 36px;
}

#four{
  top: 58px;
  left: 158px;
  height: 14px;
}

@keyframes rotate{
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg); }
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
cursor: pointer;
}

.nav-links li:hover {
  font-weight: bold;
}

.burger {
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger:hover {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}


main {
  position: absolute;
  top: 160px;
  bottom : 55px;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 800px;
  overflow: scroll;
  border: 10px solid rgba(255, 255, 255, 0.0);
}

main img {
  width: 100%;
}

main p{
  padding:10px 0px 15px 0px;
}
footer {
  position: fixed;
  bottom: 0;
  height: 55px;
  display: flex;
  list-style-type: none;
}

footer li {
  margin: 1em;
  cursor: pointer;
}

.about{
  display: block;
}

 .contact, .impressum, .projects, .datenschutz {
  display: none;
}


@media screen and (max-width: 1024px){
  ul {
    width: 50%
  }
}


@media screen and (max-width: 768px){
  body {
    padding: 0px 40px 0 40px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;
  }

  .logo img {
    margin-top:0px
  }
  
  main {
    top:20px;
    position: relative;
    margin-bottom: 20px;;
  }

  footer {
    position: relative;

  }

  .nav-links {
    position: absolute;
    left: 0px;
    height:60px;
    width: 70%;
    top: 10px;
    display: flex;
    align-items: center;
    transform: translateX(150%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger{
    display: block;
    position: absolute;
    right:20px;
  }

  footer{
    position:relative;
  }

  #one {
    top: 10px;
    left: 20px;
    height: 75px
  }

  #two{
    top: 30px;
    left: 45px;
    height: 25px;
  }

  #three{
    top: 12px;
    left: 20px;
    height: 36px;
  }

  #four{
    top: 58px;
    left: 128px;
    height: 14px;
  }

  @keyframes moveOut{
    0%{
      top: 30px;
    }
    100%{
      top: 0;
    }
  }
  
  @keyframes moveBack{
    0%{
      top: 0;
    }
    100%{
      top: 30px;
    }
  }
  
  @keyframes fadeOut{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes moveDown{
    0%{
      top: 58px;
    }
    100% {
      top:65px;
    }
  }
  
  @keyframes moveUp{
    0%{
      top: 65px;
    }
    100% {
      top:58px;
    }
  }

  .nav-active{
    transform: translateX(0%);
  }

  @keyframes navLinkFade{
      from{
        opacity: 0;
        transform: translateX(150%);
      }
      to{
        opacity: 1;
        transform: translateX(0%);
      }
  }

  .motion .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .motion .line2{
    opacity: 0;
  }
  .motion .line3{
    transform: rotate(45deg) translate(-5px, -5px);
  }

}