body {
  overflow-y: scroll;
}


main h2{
  padding: 20px;
}

.wrapperTop{
  position: absolute;
  top: 180px;
  left:50px;
  right:50px;
  bottom : 55px;
  display: flex;
}

.topImg{
  background-image: url("../../ressources/images/pro1head.jpg");
  width: 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;
}

.topText{
  overflow: scroll;
  width: 50%;
  padding: 0 20px;
}

.stepWrapper{
  position: absolute;
  top: 800px;
  left:50px;
  right:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.step{
  width: 32%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin-bottom: 20px;
}

.step img{
  width: 100%;
}

@media screen and (max-width: 800px){
  .wrapperTop{
    position: relative;
    top: 0px;
    left: 0;
    flex-wrap: wrap;
  }

  .topImg{
    width: 100%;
    height: 100vw;
    background-position: center;
  }
  .topText{
    width: 100%;
    padding: 20px 0px;
  }


  .stepWrapper{
    position: relative;
    top: 20PX;
    left:0px;
    right:0px;
  }
  .step{
    width: 48%;
  }
  
  .step img{
    width: 100%;
  }

}

@media screen and (max-width: 550px){
  .step{
    width: 100%;
  }
}